@model DeliverySytem.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <h5>@Model.Name</h5>
    <p>@Model.Email</p>
    <p>@Model.Country.CountryName</p>
    <p>@Model.City.CityName</p>
    <p>Total Order Sum @Model.TotalOrdersSum</p>
    <a asp-action="CustomerArchive" class="btn btn-primary">Orders</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
